.container {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1d2021;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
}

.form-header {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.form-text-field {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #458588;
    padding: 14px 10px;
    width: 200px;
    height: 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.form-text-field:focus {
    width: 280px;
    border-color: #b8bb26;
    margin-left: 0;
    margin-right: 0;
}

.form-submit {
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #b8bb26;
    padding: 5px 40px;
    height: 48px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}


.form-submit:hover {
    background: #b8bb26;
}